@media ( max-width: 1200px )
    .container
        position: relative
        max-width: 850px
    .catalog
        &__content
            justify-content: center
        &-item
            margin: 10px 10px        
    .carousel
        &__inner
            img
                width: 500px
        .prev
            left: 40px
        .next     
            right: 40px    
    .footer
        height: 500px
        &__info
            padding: 20px 0 0 0
            width: 380px
            height: 200px           

@media ( max-width: 767px )
    .button
        width: 120px
        font-size: 11px 
        &_main
            width: 230px
            height: 40px    
            font-size: 13px
        &_submit
            width: 165px 
            height: 40px 
        &_catalog
            width: 80px 
            height: 30px
            
    .title
        font-size: 25px                    
    .header
        &__official
            display: none
        &__phone
            font-size: 15px     
    .promo
        min-height: 550px
        padding: 40px 30px 40px 30px
        background: url(../img/promo_540.png)  center (center/cover) no-repeat
        &__header
            font-size: 30px
        &__subheader
            font-size: 18px
        &__icons
            width: 330px
            margin-top: 35px   
        &__wrapper
            margin-top: 50px
            align-items: center
        &__link
            font-size: 13px
            a
                font-size: 14px
               
    .advantages
        padding: 40px 0 40px 0
        &__items
            display: block
            margin-top: 30px
        &__item    
            margin: 0 auto
            max-width: 380px
            margin-bottom: 15px
        &__subtitle
            margin-top: 10px
        &__descr    
            margin-top: 10px
            
    .consultation
        min-height: 400px
        padding: 40px 0 40px 0
        &__header
            font-size: 28px
            margin-bottom: 40px
        &__descr
            margin-bottom: 20px    

    .carousel
        display: none

    .catalog
        padding-top: 25px
        &-item
            min-height: 400px
            width: 200px
            padding: 20px 0 10px 0
            &__wrapper
                width: 200%
            &__subtitle
                font-size: 15px
            &__descr
                margin-top: 5px  
                font-size: 13px 
            &__content
                margin-right: 0
     
            &__list
                padding-left: 20px
                margin-left: 0
                min-height: 220px
                li
                    margin-bottom: 5px
                    font-size: 13px
            &__back
                position: relative
                transform: translateX(calc(-50% - 20px))
                font-size: 10px         
            &__img
                height: 150px
            &__footer
                padding: 0 10px 0 10px
                align-items: flex-end    
        .title
            margin-bottom: 20px
    .review
        padding: 0 0 20px 0
        &__items
            margin-top: 30px
        &__item
            margin-bottom: 30px
            img
                width: 130px
        &__progress    
            margin-bottom: 10px        
        &__text  
            font-size: 13px  
                      
    .footer
        &__info
            width: 280px
            height: 130px
            left: 76%
        &__address
            font-size: 16px
        &__phone
            margin-top: 10px
            font-size: 15px
        &__social
            margin-top: 10px
            &-item
                width: 35px
                height: 35px
                margin: 0px 5px
                img
                    height: 20px

@media ( max-width: 575px )
    .title 
        font-size: 19px
    .button
        width: 170px
        height: 30px
        font-size: 11px 
        &_main
            margin-top: 30px
        &_catalog
            width: 40px
            height: 19px
            font-size: 8px    
    .header
        align-items: flex-start
        &__logo
            width: 170px
        &__phone
            font-size: 13px
        .button
            display: none      
    .promo
        background: url(../img/promo_375.png)  center (center/cover) no-repeat
        padding: 20px 0 20px 0
        min-height: 450px
        &__wrapper
            margin-top: 100px  
        &__header
            font-size: 22px
        &__subheader     
            font-size: 12px
        &__icons
            margin-top: 20px
            width: 280px
            justify-content: space-evenly
        &__icon
            width: 85px
            font-size: 10px
            img
                height: 35px
                margin-bottom: 10px  
        &__link
            margin-top: 10px  
            a
                font-size: 11px  
    .advantages
        padding: 20px 0 20px 0
        &__items
            margin-top: 20px   
        &__item
            img
                height: 50px
        &__subtitle
            font-size: 15px
            margin-top: 3px
        &__descr
            font-size: 11px
            margin-top: 3px
    .consultation
        background: url(../img/contact_375.png) center center/cover no-repeat
        min-height: 350px
        padding: 20px 0 20px 0
        &__header
            margin-bottom: 10px
            font-size: 18px
        &__descr
            font-size: 14px
    .feed-form
        width: 250px
        input
            height: 30px    
            font-style: 11px 

    .review
        &__item
            img
                width: 80px         
        &__wrapper
            margin-left: 15px
        &__name
            font-size: 15px
            margin-bottom: 5px
        &__progress
            font-size: 11px
            margin-bottom: 5px
        &__text    
            font-size: 11px
            margin-bottom: 5px
    .catalog
        padding: 20px 0 20px 0
        &__tab
            height: 20px
            line-height: 18px
            font-size: 10px
            margin: 0 2px
        &__content    
            margin-top: 20px
        &-item
            min-height: 290px
            width: 125px
            margin: 3px 3px
            &__content
            &__img
                height: 100px
            &__subtitle
                font-size: 10px
                margin-top: 5px       
            &__descr
                font-size: 10px
                margin-top: 5px   
            &__link
                margin-top: 5px
                font-size: 10px 
            &__list
                li
                    font-size: 8px
            hr
                margin-top: 5px        
            &__footer
                margin-top: 10px
            &__old-price
                font-size: 10px 
            &__price
                font-size: 12px                





    .footer__info
        display: none       
